  {% extends "layout.html" %}
  {% block content %}
  
  <!DOCTYPE html>
  <html>
    <head>


      <style type="text/css">
        
        #map {
          height: 700px;
        
          width: 100%;
        
        }
      </style>
      <script>
        // Initialize and add the map
        function initMap() {
          // The location of Uluru
          const uluru = { lat: -25.344, lng: 131.036 };
          const berlin = { lat: 52.520008, lng: 13.404954 };
          const Kuckucksei = { lat: 52.4921747, lng: 13.3513541 };
          const Franken = { lat: 52.5006281, lng: 13.4210474};
          // The map, centered at Uluru
          const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 12,
            center: berlin,
          });
          // The marker, positioned at Uluru
          const marker1 = new google.maps.Marker({
            position: Kuckucksei,
            map: map,
            title: "Kuckucksei",
          });
          const marker2 = new google.maps.Marker({
            position: Franken,
            map: map,
            title: "Franken",
          });
        }
      </script>
    </head>
    <body>



      <!--The div element for the map -->

      <div class="col-12 offset-3 container justify-content-center">
        <div class="row jumbotron" >
          <div class="text-center">
             <h1><img src="static/imagens/logo1.png" width="100" height="105" display="inline-block">Find the coldest beers closest to you</h1>
          </div>
           
      <div id="map"></div>
        </div>
      </div>

      <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
      <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMd_Sabn9rfbMx7e9157nDFToMcTQAwvo&callback=initMap&libraries=&v=weekly"
        async
      ></script>
    </body>
  </html>

  {% endblock content %}