{% extends 'layout.html' %}
{% block content %}

<br>
<div class="col-md-8 offset-md-6 justify-content">
 <div class="row jumbotron" >
    <div class="text-center">
         <h1> Welcome to</h1> 
     <div class="text-center">
    <image src="static/imagens/logo1.png" width="150" height="150"></image>
    </div>
<font size="-1.5" style="color: #000000;"> 
Are you tired of just drinking hot beer in the summer? 
<br>
 Beerlin is a practical cold beer locator. Besides that, you can rank your beer experiences to accumulate points to get a free beer.
Find the coldest beer in your area and share your experience now!
</font>
</div>
</div>
   
<div class="text-center">
<a class="btn btn-outline bg-warning my-2 my-sm-0" type="submit" style="color:#000000;position: relative; display: inline-block; left: 20 ; transform: translate(-50%);" href="{{ url_for('users.login') }}">Log in</a>
<a class="btn btn-outline bg-warning  my-2 my-sm-0" type="submit" style="color:#000000; position: relative; display: inline-block; left: 18%; transform: translate(-50%);" href="{{ url_for('users.register') }}">Sign up</a>
<br>
<br>
<img style="max-width:100%;" src= "static/imagens/beer3.gif" width="250" height="250" class="mx-auto d-block">
<br>
</div>
</div>

{%endblock content%}